# sphinx-rtd-theme seems to suffer issues with sphinx>=7
sphinx <7.0.0
sphinx-intl
sphinx-notfound-page
graphviz
markupsafe
transifex-client
sphinxcontrib-svg2pdfconverter
sphinx-rtd-theme
sphinx-multiversion
./sphinx-mixxx
