{% extends "!layout.html" %}

{% block extrahead %}
{% if qthelp %}
<link rel="stylesheet" href="{{ pathto('_static/css/qthelp.css', 1) }}" type="text/css" />
{% endif %}
{{ super() }}
{% endblock %}%

{% block content %}
{% if current_version and latest_version and current_version != latest_version %}
<div class="rst-content">
  <div class="admonition warning">
    <p class="admonition-title">Warning</p>
    <p>
      {% if current_version.is_released %}
      You're reading the manual for Mixxx {{current_version.version}}.
      If you're using another version, please select it in the sidebar.
      The latest Mixxx release is <a href="{{ vpathto(latest_version.name) }}">version {{latest_version.version}}</a>.
      {% else %}
      You're reading the manual for a development version of Mixxx.
      For the latest released version, please have a look at <a href="{{ vpathto(latest_version.name) }}">version {{latest_version.version}}</a>.
      {% endif %}
    </p>
  </div>
</div>
{% endif %}
{{ super() }}
{% endblock %}%
