/* Navbar background */
.wy-side-nav-search {
    background: url("../navbar-bg.jpg");
}

/* Less obstrusive toctree links */
.toctree-wrapper a {
    color: #404040;
}

/* Colors */
.rst-content .admonition,
.rst-content .admonition-todo,
.rst-content .attention,
.rst-content .caution,
.rst-content .danger,
.rst-content .error,
.rst-content .hint,
.rst-content .important,
.rst-content .note,
.rst-content .seealso,
.rst-content .tip,
.rst-content .warning,
.wy-alert {
    background: #faf2e7;
}
.rst-content .admonition-title,
.wy-alert-title {
    background: #ff6600;
}
.rst-content .note,
.rst-content .seealso,
.rst-content .wy-alert-info.admonition,
.rst-content .wy-alert-info.admonition-todo,
.rst-content .wy-alert-info.attention,
.rst-content .wy-alert-info.caution,
.rst-content .wy-alert-info.danger,
.rst-content .wy-alert-info.error,
.rst-content .wy-alert-info.hint,
.rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning,
.wy-alert.wy-alert-info {
    background: #faf2e7;
}
.rst-content .note .admonition-title,
.rst-content .note .wy-alert-title,
.rst-content .seealso .admonition-title,
.rst-content .seealso .wy-alert-title,
.rst-content .wy-alert-info.admonition .admonition-title,
.rst-content .wy-alert-info.admonition .wy-alert-title,
.rst-content .wy-alert-info.admonition-todo .admonition-title,
.rst-content .wy-alert-info.admonition-todo .wy-alert-title,
.rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .admonition-title,
.rst-content .wy-alert-info.caution .wy-alert-title,
.rst-content .wy-alert-info.danger .admonition-title,
.rst-content .wy-alert-info.danger .wy-alert-title,
.rst-content .wy-alert-info.error .admonition-title,
.rst-content .wy-alert-info.error .wy-alert-title,
.rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.hint .wy-alert-title,
.rst-content .wy-alert-info.important .admonition-title,
.rst-content .wy-alert-info.important .wy-alert-title,
.rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.tip .wy-alert-title,
.rst-content .wy-alert-info.warning .admonition-title,
.rst-content .wy-alert-info.warning .wy-alert-title,
.rst-content .wy-alert.wy-alert-info .admonition-title,
.wy-alert.wy-alert-info .rst-content .admonition-title,
.wy-alert.wy-alert-info .wy-alert-title {
    background: #ff6600;
}
.rst-content .wy-alert-neutral.admonition a,
.rst-content .wy-alert-neutral.admonition-todo a,
.rst-content .wy-alert-neutral.attention a,
.rst-content .wy-alert-neutral.caution a,
.rst-content .wy-alert-neutral.danger a,
.rst-content .wy-alert-neutral.error a,
.rst-content .wy-alert-neutral.hint a,
.rst-content .wy-alert-neutral.important a,
.rst-content .wy-alert-neutral.note a,
.rst-content .wy-alert-neutral.seealso a,
.rst-content .wy-alert-neutral.tip a,
.rst-content .wy-alert-neutral.warning a,
.wy-alert.wy-alert-neutral a {
    color: #ff6600;
}
.wy-tray-container li.wy-tray-item-info {
    background: #ff6600;
}
.btn-info {
    background-color: #ff6600!important;
}
.btn-link {
    color: #ff6600;
}
.wy-dropdown-menu > dd > a:hover {
    background: #ff6600;
}
.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover {
    background: #ff6600;
}
.wy-inline-validate.wy-inline-validate-info .wy-input-context {
    color: #ff6600;
}
a {
    color: #ff6600;
}
a:visited {
    color: #b69b59;
}
a:hover {
    color: #d19130;
}
.wy-text-info {
    color: #ff6600!important;
}
.wy-menu-vertical a:active {
    background-color: #ff6600;
}
.wy-side-nav-search {
    background-color: #ff6600;
}
.wy-side-nav-search img {
    background-color: #ff6600;
}
.wy-nav .wy-menu-vertical header {
    color: #ff6600;
}
.wy-nav .wy-menu-vertical a:hover {
    background-color: #ff6600;
    color: #fff;
}
.wy-nav-top {
    background: #ff6600;
}
.wy-nav-top img {
    background-color: #ff6600;
}
.rst-versions a,
.rst-sidebar a {
    color: #ff6600;
}
.rst-content a code,
.rst-content a tt {
    color: #ff6600;
}
.rst-content dl:not(.docutils) dt {
    background: #faf2e7;
    color: #ff6600;
    border-top-color: #ff6600;
}
.rst-content dl:not(.docutils) dt:before {
    color: #ff6600;
}
.rst-content .guilabel {
    background: #faf2e7;
    white-space: nowrap;
    overflow: hidden;
}

.btn-link:visited {
    color: #b69b59;
}
